################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/bin/Debug
*.bak
*.db
/obj/Debug
/Kerbal Space Program/StationScience.zip
