################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/bin/Debug
*.bak
*.db
/obj/Debug
/Kerbal Space Program/StationScience.zip
/Properties/AssemblyInfo.cs
/bin/Release
/.vs/StationScience/v15/Server/sqlite3
/obj/Release
